<div id="<%= dom_id employee %>">
  <p>
    <strong>Fname:</strong>
    <%= employee.fname %>
  </p>

  <p>
    <strong>Lname:</strong>
    <%= employee.lname %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= employee.phone %>
  </p>

  <p>
    <strong>Access:</strong>
    <%= employee.access %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= employee.notes %>
  </p>

</div>
