<div id="<%= dom_id event %>">
  <p>
    <strong>Name:</strong>
    <%= event.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= event.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= event.phone %>
  </p>

  <p>
    <strong>Deposit:</strong>
    <%= event.deposit %>
  </p>

  <p>
    <strong>Numppl:</strong>
    <%= event.numppl %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= event.notes %>
  </p>

  <p>
    <strong>Employees:</strong>
    <%= event.employees_id %>
  </p>

</div>
