<div class="w3-bar w3-border w3-dark-grey">
  
  <%= link_to 'Home', root_path, class: 'w3-bar-item w3-button w3-border-right w3-mobile' %>
  <%= link_to 'Event', events_path, class: 'w3-bar-item w3-button w3-border-right w3-mobile' %>
  <%= link_to 'Employee', employees_path, class: 'w3-bar-item w3-button w3-border-right w3-mobile' %>
 
  <!-- devise links -->
  <%= link_to 'Register', new_user_registration_path, class: 'w3-bar-item w3-button w3-border-right w3-mobile' %>
  <%= link_to  "sign out",  destroy_user_session_path, class: 'w3-bar-item w3-button w3-border-right w3-mobile', 'data-turbo-method': :delete %>
  <%= link_to 'Log In', new_user_session_path, class: 'w3-bar-item w3-button w3-border-right w3-mobile' %>
  </div>

<!-- devise alerts below -->
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>