<!DOCTYPE html>
<html>
  <head>
    <title>CADapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- w3schools styles for responsive layout -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!-- partial containing menu format is folder/partialname-->
    <%= render 'layouts/menulinks' %>
    <div class="w3-row">
        
      <%= yield %>
   
    </div>
  </body>
</html>
